##############################
### WINDOWS AND WORKSPACES ###
##############################

# See https://wiki.hypr.land/Configuring/Window-Rules/ for more
# See https://wiki.hypr.land/Configuring/Workspace-Rules/ for workspace rules

# Example windowrule
# windowrule = float,class:^(kitty)$,title:^(kitty)$

# Ignore maximize requests from apps. You'll probably like this.
windowrule {
    name = suppress-maximize-events
    match:class = .*

    suppress_event = maximize
}

# Fix some dragging issues with XWayland
windowrule {
    name = fix-xwayland-drags
    match:class = ^$
    match:title = ^$
    match:xwayland = true
    match:float = true
    match:fullscreen = false
    match:pin = false

    no_focus = true
}

# Here and below are MY rules:

# Kitty rules
windowrule {
    name = kitty-rules
    no_blur = true
    match:class = kitty
}


# Terminal scratchpad setup
windowrule {
    name = kitty-scratchpad
    match:class = ^(kitty-scratchpad)$

    workspace = special:scratchpad
    size = (monitor_w*0.8) (monitor_h*0.7)
    center = true
    float = true
    no_blur = true

}

windowrule {
    name = firefox-workspace
    match:class = firefox

    workspace = 1
}

# old version:
#windowrulev2 = workspace special:scratchpad, class:^(kitty-scratchpad)$
#windowrulev2 = size 80% 70%, class:^(kitty-scratchpad)$
#windowrulev2 = center, class:^(kitty-scratchpad)$
#windowrulev2 = float, class:^(kitty-scratchpad)$
#windowrulev2 = noblur, class:^(kitty-scratchpad)$

