[Unit]
Description=A service to start the hyprsunset filter
After=hyprland-session.target
PartOf=hyprland-session.target

[Service]
Type=simple
ExecStart=hyprsunset

[Install]
WantedBy=hyprland-session.target
